header a {
    text-decoration: none;
    padding: 10px;
    background-color: hsl(108, 57%, 46%);
    border-radius: 25px;
    margin: auto;
}

header {
    display: flex;
}

body {
    margin: 0px;
}

main {
    display: flex;
}
