header a {
    text-decoration: none;
    padding: 10px;
    background-color: hsl(108, 57%, 46%);
    border-radius: 25px;
    margin: auto;
}

header {
    display: flex;
}

body {
    margin: 0px;
}

main {
    display: flex;
    margin-top: 16px;
}

.menu {
    margin-left: 16px;
    padding: 0px 60px;
}

.info {
    padding: 0px 60px;
}
